@keyframes swapMenuPosition {
  0% {
    left: 50%;
    top: 0;
    -webkit-transform: rotateZ(90deg) translate(-50%, 25%);
            transform: rotateZ(90deg) translate(-50%, 25%);
    -webkit-transform-origin: middle right;
            transform-origin: middle right;
  }
  33% {
    top: 0;
    left: -.5em;
    -webkit-transform: rotateZ(90deg) translate(-50%, 25%);
            transform: rotateZ(90deg) translate(-50%, 25%);
    -webkit-transform-origin: middle right;
            transform-origin: middle right;
  }
  80% {
    top: 0;
    -webkit-transform: none;
            transform: none;
  }
  100% {
    top: 2em;
  }
}

